#tabContainer
{
	position: relative;
	width: 100%;
	height: 100%;
}

.tabs
{
	position: relative;
	background-color: ;
	width: 100%;
	height: 60px;
}

.tabpage
{
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
}

.logo
{
	width: 60px;
	height: 60px;
}

ul
{
	padding:0;
	margin:0;
	list-style-type:none;
}
li
{
	margin-left:2px;
	float:left; /*pour IE*/
}
ul li a
{
	display:block;
	float:left;
	width:100px;
	background-color:#6495ED;
	color:black;
	text-decoration:none;
	text-align:center;
	padding:5px;
	border:2px solid;
	/*pour avoir un effet "outset" avec IE :*/
	border-color:#DCDCDC #696969 #696969 #DCDCDC;
}
ul li a:hover
{
	background-color:#D3D3D3;
	border-color:#696969 #DCDCDC #DCDCDC #696969;
}
